

<!-- <ul class="list-group mt-5" *ngFor="let lenguaje of data" >
  <li class="list-group-item"  > Nombre: <strong>{{lenguaje.nombre}}</strong> </li>
  <a> Empresa: <strong>{{lenguaje.empresa}}</strong> </a>


</ul> -->

<div class="list-group mt-5">
  <a *ngFor="let lenguaje of data" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{lenguaje.nombre}}</h5>
      <small class="text-danger">{{lenguaje.empresa}}</small>
    </div>
    <p class="mb-1">Aplicaciones: <a class="text-info">{{lenguaje.applicaciones}}</a> </p>
    <small>{{lenguaje.descripcion}}</small>
    <br/>
    <a [routerLink] = "['/lenguajes', lenguaje.nombre]">Leer Más</a>
  </a>
 
</div>